#if($showLeftPanels == "1" || $request.getParameter("forceLeftPanels"))
<div id="leftPanels" class="panels left"#if($showLeftPanels != "1" && $request.getParameter("forceLeftPanels")) style="display: none;"#end>
#set($panelUixs = $services.uix.getExtensions('platform.panels.leftPanels'))
#foreach($panelUix in $panelUixs)
  ## We need to set this because the panelheader macro used in panels needs it
  #set($paneldoc = $xwiki.getDocument($panelUix.getId()))
  #set($content = $panelUix.execute())
  ##If the content is null, it means the current user has not the right to view the panel.
  #if($content)
    $services.rendering.render($content, "xhtml/1.0")
  #end
#end
</div>
#end
